.kotlin
.idea/
target/
dependency-reduced-pom.xml

# Terraform
**/.terraform/
*.tfplan
*.plan
*.hcl
*.zip
*.tar.gz

.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store