<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p|%d{MMdd-HHmmssSSS}|%thread|%class{1}|%m%ex{full}%n</pattern>
        </encoder>
    </appender>

    <logger name="com.dataplatform" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
